**/__pycache__
**/*.pyc
.git/
.svn/
.hg/
node_modules/
venv/
env/
dist/
build/
*.pyo
*.pyd
.env
.dockerignore
.gitignore
Dockerfile
README.md
LICENSE
*.log
config/dev.config
*.md
tests/
docs/
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp
*.sql
*.tar.gz
*.zip
*.rar
incomplete_jobs.log
complete_jobs.log
alradycompleted_jobs.log
dice.py
diceBroillons.py
diceFireFox.py
diceWithLogin.py
